
.form-meio {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 67vh;
}

form {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 440px;
    padding: 20px 35px;
}